body::before {
    display: block;
    content: "";
    height: 60px;
}
@media(min-width: 768px) {
    .news-input {
        width: 50%;
    }

    section.p-5 a {
        width: 50%;
        margin: auto;
    }
}
@media(max-width: 576px) {
    .card {
        margin-top: 1px;
        margin-bottom: 2px;
    }
}

.huh:hover {
    background-color: turquoise;
    color: black;
   
}
#map {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}